GROQ_API_KEY=your_groq_api_key_here
MISTRAL_API_KEY=*************api_values_tO_be
OPENAI_API_KEY=your_openai_api_key_here

# Default provider: groq | ollama | mistral | openai
AI_PROVIDER=groq
AI_MODEL=llama-3.3-70b-versatile
